@charset "UTF-8";
/* обнуление */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------- */
/* ============ Шрифты ============ */
/* 
====================== 
font-family: 'Inter'; 
====================== 
*/
@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-Regular.eot");
  src: local("Inter Regular"), local("Inter-Regular"), url("../fonts/Inter/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter/Inter-Regular.woff") format("woff"), url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* 
====================== 
font-family: 'Roboto'; 
====================== 
*/
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Thin.eot");
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/Roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-ThinItalic.eot");
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("../fonts/Roboto/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-ThinItalic.woff") format("woff"), url("../fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-LightItalic.eot");
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("../fonts/Roboto/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Italic.eot");
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/Roboto/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-MediumItalic.eot");
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("../fonts/Roboto/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-MediumItalic.woff") format("woff"), url("../fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-BoldItalic.eot");
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("../fonts/Roboto/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-BoldItalic.woff") format("woff"), url("../fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Black.eot");
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/Roboto/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Black.woff") format("woff"), url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-BlackItalic.eot");
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("../fonts/Roboto/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-BlackItalic.woff") format("woff"), url("../fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* ==================================== */
/* ====================================== */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

body {
  font-family: "Roboto";
  background: #f2f2f2;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0px 20px;
}

.burger_menu {
  width: 24px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.burger_menu span {
  width: 100%;
  height: 2px;
  border-radius: 3px;
  background: #22252e;
}

@media (min-width: 991px) {
  .burger_menu {
    display: none;
  }
}

.button {
  height: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4cb649;
  border: 1px solid #4cb649;
  border-radius: 30px;
  background: transparent;
}

.button:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, from(#4cb649), to(#5ddf5a));
  background: linear-gradient(0deg, #4cb649 0%, #5ddf5a 100%);
}

/* ======================= header ======================= */
.header__top {
  width: 100%;
  padding: 9px 0 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: #22252e;
}

@media (max-width: 725px) {
  .header__top {
    padding: 10px 0 12px;
  }
}

.header__bottom {
  padding: 40px 0 20px;
}

@media (max-width: 990px) {
  .header__bottom {
    padding: 13px 10px 15px 12px;
  }
}

.top_header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 725px) {
  .top_header__inner {
    padding: 0 40px 0 20px;
  }
}

.top_header__item_warning {
  padding: 0 32px 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  color: #ff8d00;
}

@media (max-width: 725px) {
  .top_header__item_warning {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0;
  }
}

.top_header__item_warning::before {
  margin: 0 5px 0 0;
  font-size: 24px;
  vertical-align: middle;
}

.top_header__item_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #889099;
}

@media (max-width: 725px) {
  .top_header__item_data {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 5px 0 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.top_header__item_link {
  padding: 0 0 0 32px;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #ffffff;
}

.top_header__item_link i {
  font-size: 6px;
  vertical-align: middle;
}

@media (max-width: 725px) {
  .top_header__item_link {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0 8px 0 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: right;
  }
}

.top_header__close {
  position: absolute;
  top: calc(50% - 10px);
  right: 15px;
  font-weight: 300;
  font-size: 28px;
  line-height: 0.5;
  color: #889099;
  cursor: pointer;
}

@media (max-width: 725px) {
  .top_header__close {
    top: 12px;
  }
}

.data__item:first-child {
  margin: 0 36px 0 0;
}

@media (max-width: 725px) {
  .data__item:first-child {
    margin: 0;
  }
}

.bottom_header__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (max-width: 990px) {
  .bottom_header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bottom_header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0;
  padding: 0 0 0 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 46px;
  color: #000000;
}

@media (min-width: 991px) {
  .bottom_header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 264px;
            flex: 0 1 264px;
    margin: 0 0 0 6px;
    padding: 0;
    position: absolute;
    top: 0;
    left: calc(50% - 600px);
  }
}

@media (max-width: 1480px) {
  .bottom_header__logo {
    left: calc(50% - 40.541vw);
  }
}

.bottom_header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 990px) {
  .bottom_header__menu {
    display: none;
  }
}

.bottom_header__btns {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 264px;
          flex: 0 1 264px;
  position: absolute;
  top: 0;
  right: calc(50% - 740px);
}

@media (max-width: 1480px) {
  .bottom_header__btns {
    right: 0;
  }
}

@media (max-width: 990px) {
  .bottom_header__btns {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    position: relative;
  }
}

.bottom_header__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border-radius: 30px;
}

.bottom_header__btn_login {
  width: 90px;
  height: 40px;
  margin: 0 6px 0 0;
  color: #4cb649;
  border: 1px solid #4cb649;
}

@media (max-width: 990px) {
  .bottom_header__btn_login {
    display: none;
  }
}

.bottom_header__btn_start {
  width: 160px;
  height: 40px;
  color: #ffffff;
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#4cb649), to(#5ddf5a));
  background: linear-gradient(0deg, #4cb649 0%, #5ddf5a 100%);
}

@media (max-width: 990px) {
  .bottom_header__btn_start {
    width: 126px;
  }
}

.bottom_header__btn_start:hover {
  color: #4cb649;
  border: 1px solid #4cb649;
  background: transparent;
}

.menu_header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_header__list li {
  margin: 0 26px 0 0;
  padding: 13px 0 5px;
}

.menu_header__list li:last-child {
  margin: 0;
}

.menu_header__list li::after {
  content: "";
  width: 94%;
  height: 3px;
  margin: 5px 0 0;
  display: block;
  opacity: 0;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  background-color: #4cb649;
}

.menu_header__list li:hover::after {
  opacity: 1;
}

.menu_header__item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
  cursor: pointer;
}

.menu_header__item:not(.menu-header__item_link)::after {
  content: "";
  width: 0px;
  height: 0px;
  margin: 0 0 0 6px;
  display: inline-block;
  vertical-align: middle;
  border-top: 5px solid #323642;
  border-right: 5px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 5px solid transparent;
}

/* ======================= header end =================== */
/* ======================= page ======================= */
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__article {
  width: 100%;
  padding: 17px 0 0;
}

@media (max-width: 850px) {
  .page__article {
    padding: 28px 0 0;
  }
}

.page__tags {
  width: 100%;
  margin: 0 0 39px;
}

@media (max-width: 1100px) {
  .page__tags {
    display: none;
  }
}

.page__content {
  width: 100%;
  padding: 0 0 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 375px) {
  .page__content {
    padding: 0 0 72px;
  }
}

.page__pricing {
  width: 100%;
  padding: 101px 0 55px;
  background: linear-gradient(135deg, #3d4251 0%, #272b35 100%);
}

@media (max-width: 375px) {
  .page__pricing {
    padding: 60px 0 42px;
  }
}

/* ======================= page end =================== */
/* ======================= article-page ======================= */
.article_page__item {
  width: 100%;
  min-height: 399px;
  margin: 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #d7d8d9;
  border-radius: 6px;
  -webkit-filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));
}

@media (max-width: 670px) {
  .article_page__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 375px) {
  .article_page__item {
    min-height: 600px;
    margin: 0 0 40px;
  }
}

.item_article__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  max-height: 100%;
  display: block;
  overflow: hidden;
}

@media (max-width: 670px) {
  .item_article__picture {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    height: 59.467vw;
  }
}

@media (max-width: 375px) {
  .item_article__picture {
    height: 223px;
  }
}

.item_article__image {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0;
     object-position: 50% 0;
}

.item_article__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 56px 60px 40px;
}

@media (max-width: 1290px) {
  .item_article__content {
    padding: 4.3vw 4.7vw 3.1vw;
  }
}

@media (max-width: 670px) {
  .item_article__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 30px 30px 14px;
  }
}

.item_article__title {
  margin: 0 0 86px;
  display: block;
}

@media (max-width: 1240px) {
  .item_article__title {
    margin: 0 0 7vw;
  }
}

@media (max-width: 375px) {
  .item_article__title {
    margin: 0 0 14px;
  }
}

.item_article__link {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 142%;
  color: #22252e;
}

.item_article__link:hover {
  text-decoration: underline;
}

.item_article__data {
  margin: 0 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item_article__name {
  margin: 0 12px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #323642;
}

.item_article__date {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #889099;
}

.item_article__tags {
  margin: 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4cb649;
}

.item_article__tags li {
  margin: 0 3px 0 0;
}

.item_article__comment {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 157%;
  color: #889099;
}

.item_article__comment::before {
  margin: 0 11px 0 6px;
  font-size: 10px;
}

@media (max-width: 375px) {
  .item_article__comment::before {
    margin: 0 11px 0 0;
    font-size: 16px;
  }
}

/* ======================= article-page end =================== */
/* ======================= tags-page ======================= */
.tags_page__inner {
  width: 100%;
  padding: 21px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f7f7;
  border-radius: 4px;
}

.tags_page__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tags_page__title {
  margin: 0 43px 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
}

.tags_page__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tags_page__list li {
  margin: 0 34.5px 0 0;
}

.tags_page__list li:last-child {
  margin: 0 0 0;
}

.tags_page__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tags_page__menu li {
  margin: 0 0 0;
}

.tags_page__menu li:last-child {
  margin: 0 0 0 36px;
}

.tags_page__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
}

.tags_page__link:hover {
  text-decoration: underline;
}

.tags_page__link_green {
  letter-spacing: 0.8px;
  color: #4cb649;
}

/* ======================= tags-page end =================== */
/* ======================= content-page ======================= */
@media (min-width: 1101px) {
  .content_page__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 375px) {
  .content_page__inner {
    max-width: 315px;
    margin: 0 auto;
  }
}

.content_page__entries {
  width: 100%;
  max-width: 740px;
  margin: 0 20px 0 0;
}

@media (max-width: 1100px) {
  .content_page__entries {
    max-width: 100%;
    margin: 0;
  }
}

.content_page__side {
  width: 100%;
  max-width: 400px;
  padding: 0 0 0 58px;
  border-left: 1px solid #ebeced;
}

@media (max-width: 1240px) {
  .content_page__side {
    padding: 0 0 0 4.839vw;
  }
}

@media (max-width: 1100px) {
  .content_page__side {
    padding: 0 0 0 0;
    border-left: none;
  }
}

.entries_page__title {
  margin: 0 0 38px;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 138%;
  color: #22252e;
}

@media (max-width: 375px) {
  .entries_page__title {
    margin: 0 0 40px;
  }
}

.entries_page__posts {
  margin: 0 0 40px;
}

.entries_page__posts:last-child {
  margin: 0;
}

@media (max-width: 375px) {
  .entries_page__posts:last-child {
    display: none;
  }
}

.entries_page__item {
  margin: 0 0 30px;
  padding: 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ebeced;
}

.entries_page__item:last-child {
  margin: 0;
}

@media (max-width: 760px) {
  .entries_page__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 20px;
    padding: 0 0 40px;
  }
}

.entries_page__btn {
  width: 260px;
  height: 40px;
  margin: 0 30% 0 35%;
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4cb649;
  border: 1px solid #4cb649;
  background-color: transparent;
  border-radius: 30px;
}

@media (max-width: 1100px) {
  .entries_page__btn {
    margin: 0 auto 69px;
  }
}

@media (max-width: 375px) {
  .entries_page__btn {
    width: 100%;
    margin: 60px 0 69px;
  }
}

.item_post__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 280px;
          flex: 0 0 280px;
  height: 180px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 375px) {
  .item_post__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    height: 200px;
  }
}

.item_post__image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0;
     object-position: 50% 0;
}

.item_post__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0 0 0 40px;
}

@media (max-width: 760px) {
  .item_post__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 18px 0 0 0;
  }
}

.item_post__title {
  margin: 0 0 8px;
}

@media (max-width: 1100px) {
  .item_post__title {
    margin: 0 0 12px;
  }
}

.item_post__link {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 142%;
  color: #22252e;
}

.item_post__link:hover {
  text-decoration: underline;
}

.item_post__data {
  margin: 0 0 7px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item_post__name {
  margin: 0 12px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #323642;
}

.item_post__date {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #889099;
}

.item_post__tags {
  margin: 0 0 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #4cb649;
}

.item_post__tags li {
  margin: 0 3px 0 0;
}

.item_post__comment {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #889099;
}

.item_post__comment::before {
  margin: 0 11px 0 5px;
  font-size: 12px;
}

.tags_item__link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4cb649;
}

.tags_item__link:hover {
  text-decoration: underline;
}

.side_page__search {
  margin: 0 0 40px;
  position: relative;
}

.side_page__input {
  width: 340px;
  padding: 17px 15px 17px 58px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #22252e;
  background: #ffffff;
  border: 1px solid #d7d8d9;
  border-radius: 4px;
}

@media (max-width: 375px) {
  .side_page__input {
    width: 100%;
  }
}

.side_page__button {
  width: 58px;
  height: 58px;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background-color: transparent;
  background-image: url(../image/page/content/side/icon_search.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 18px 18px;
}

.side_page__announcements {
  margin: 0 0 40px;
}

@media (max-width: 375px) {
  .side_page__announcements {
    margin: 0 0 68px;
  }
}

.side_page__popular {
  margin: 0 0 34px;
}

@media (max-width: 375px) {
  .side_page__popular {
    margin: 0 0 32px;
  }
}

.side_page__banner {
  margin: 0 0 56px;
}

@media (max-width: 375px) {
  .side_page__banner {
    margin: 0 0 64px;
  }
}

.announcements_side__title {
  margin: 0 0 33px;
  padding: 0 0 0 80px;
  position: relative;
  line-height: 40px;
}

@media (max-width: 375px) {
  .announcements_side__title {
    padding: 0 0 0 74px;
  }
}

.announcements_side__title::before {
  content: url(../image/page/content/side/icon_anno.svg);
  position: absolute;
  top: -9px;
  left: 0px;
}

@media (max-width: 375px) {
  .announcements_side__title::before {
    left: -7px;
  }
}

.announcements_side__link:hover {
  text-decoration: underline;
}

.popular_side__title {
  margin: 0 0 32px;
  padding: 0 0 0 80px;
  position: relative;
  line-height: 40px;
}

@media (max-width: 375px) {
  .popular_side__title {
    padding: 0 0 0 73px;
  }
}

.popular_side__title::before {
  content: url(../image/page/content/side/icon_popular.svg);
  position: absolute;
  top: -10px;
  left: 0;
}

@media (max-width: 375px) {
  .popular_side__title::before {
    left: -7px;
  }
}

.popular_side__link:hover {
  text-decoration: underline;
}

.banner_side__link {
  width: 340px;
  height: 454px;
  display: block;
  overflow: hidden;
}

@media (max-width: 405px) {
  .banner_side__link {
    width: 84vw;
    height: 112vw;
  }
}

@media (max-width: 375px) {
  .banner_side__link {
    width: 315px;
    height: 420px;
  }
}

.banner_side__link img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.cloud_side__title {
  margin: 0 0 20px 0;
}

@media (max-width: 375px) {
  .cloud_side__title {
    margin: 0 0 20px;
  }
}

.cloud_side__link {
  width: 324px;
  height: 309px;
  margin: 0 0 0 -11px;
  display: block;
  overflow: hidden;
}

.cloud_side__link img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.side_block__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #22252e;
}

.side_block__list {
  padding: 0 0 28px;
  border-bottom: 1px solid #d7d8d9;
}

.side_block__list li {
  margin: 0 0 16px;
  padding: 0 0 0 10px;
  position: relative;
}

.side_block__list li:last-child {
  margin: 0;
}

.side_block__list li::before {
  content: "";
  width: 5px;
  height: 5px;
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 0;
  background-color: #4cb649;
  border-radius: 50%;
}

.side_block__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #323642;
}

/* ======================= content-page end =================== */
/* ======================= pricing-page ======================= */
.pricing_page__title {
  margin: 0 0 40px;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 133%;
  text-align: center;
  letter-spacing: -0.5px;
  color: #ffffff;
}

@media (max-width: 560px) {
  .pricing_page__title {
    font-size: 8.533vw;
    line-height: 138%;
    letter-spacing: 0;
  }
}

@media (max-width: 375px) {
  .pricing_page__title {
    font-size: 32px;
  }
}

.pricing_page__title span {
  white-space: nowrap;
}

.pricing_page__items {
  min-height: 380px;
  margin: 0 0 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 740px) {
  .pricing_page__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 36px;
  }
}

.pricing_page__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 380px;
          flex: 0 1 380px;
  height: 340px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border: 1px solid #ebeced;
  border-radius: 6px;
}

@media (max-width: 740px) {
  .pricing_page__item {
    margin: 0;
  }
}

@media (max-width: 375px) {
  .pricing_page__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 315px;
            flex: 0 1 315px;
  }
}

@media (max-width: 740px) {
  .pricing_page__item:nth-child(2) {
    margin: 20px 0;
  }
}

.pricing_page__item:hover {
  height: 380px;
  border: 4px solid #4cb649;
  border-radius: 4px;
}

@media (max-width: 740px) {
  .pricing_page__item:hover {
    height: 340px;
    border: 4px solid #ff8d00;
  }
}

.pricing_page__item:hover > button {
  color: #ffffff;
  border: 1px solid #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, from(#4cb649), to(#5ddf5a));
  background: linear-gradient(0deg, #4cb649 0%, #5ddf5a 100%);
}

@media (max-width: 740px) {
  .pricing_page__item:hover > button {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(3.81%, #ff8d00), color-stop(97.78%, #ffa400));
    background: linear-gradient(0deg, #ff8d00 3.81%, #ffa400 97.78%);
  }
}

.pricing_page__pay {
  width: 100%;
  max-width: 916px;
  margin: 0 auto 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 950px) {
  .pricing_page__pay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 800px) {
  .pricing_page__pay {
    margin: 0 auto 10px;
  }
}

.pricing_page__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 500px) {
  .pricing_page__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pricing_page__footer li:last-child {
  margin: 0 0 0 44px;
}

@media (max-width: 500px) {
  .pricing_page__footer li:last-child {
    margin: 38px 0 0 0;
  }
}

.pricing_page__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4cb649;
}

.pricing_page__link::after {
  content: " \279C";
  margin-left: 10px;
  font-size: 18px;
}

.item_card__term {
  margin: 5px 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #323642;
}

.item_card__term::after {
  content: "";
  width: 24px;
  height: 2px;
  margin: 12px auto 0;
  display: block;
  background: #4cb649;
}

.item_card__price {
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 66px;
  letter-spacing: -1.5px;
  color: #22252e;
  text-align: center;
}

.item_card__price::after {
  content: "";
  width: 200px;
  height: 1px;
  margin: 18px auto 0;
  display: block;
  background: #ebeced;
}

.item_card__price sup {
  margin: 0 8px 0 0;
  font-size: 24px;
  line-height: 66px;
  vertical-align: super;
}

.item_card__price sub {
  margin: 0 0 0 3px;
  font-size: 24px;
  line-height: 32px;
  vertical-align: sub;
}

.item_card__text {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #323642;
}

.item_card__text del {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin: 0 8px 0 0;
  color: #f24458;
}

.item_card__text b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  text-align: center;
}

.item_card__btn {
  width: 205px;
}

.pay_pricing__title {
  margin: 0 0 0 5px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 156%;
  color: #ffffff;
}

@media (max-width: 950px) {
  .pay_pricing__title {
    margin: 0 0 20px;
  }
}

.pay_pricing__list {
  width: 100%;
  max-width: 786px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  .pay_pricing__list {
    max-width: 400px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 450px) {
  .pay_pricing__list {
    max-width: 312px;
  }
}

@media (max-width: 800px) {
  .pay_pricing__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    margin: 0 0 30px;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .pay_pricing__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33%;
            flex: 0 1 33%;
  }
}

/* ======================= pricing-page end =================== */
/* ======================= footer ======================= */
.footer {
  width: 100%;
  padding: 84px 0 90px;
  background: #FFFFFF;
}

@media (max-width: 375px) {
  .footer {
    padding: 44px 0 50px;
  }
}

.footer__logo {
  margin: 0 0 58px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 33px;
  color: #000000;
}

@media (max-width: 480px) {
  .footer__logo {
    margin: 0 0 54px;
    font-size: 18px;
    line-height: 22px;
  }
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1100px) {
  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__section {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 1100px) {
  .footer__section {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.footer__section_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 540px) {
  .footer__section_column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 540px) {
  .footer__section_row {
    margin: 4px 0 0;
  }
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
}

@media (max-width: 540px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 46%;
            flex: 0 1 46%;
  }
}

@media (max-width: 540px) {
  .footer__row_last {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 46%;
            flex: 0 1 46%;
  }
}

.column_footer__title {
  margin: 0 0 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
}

@media (max-width: 375px) {
  .column_footer__title {
    margin: 0 0 14px;
  }
}

.column_footer__list {
  margin: 0 0 30px;
}

.column_footer__list_high {
  margin: 0 0 62px;
}

@media (max-width: 540px) {
  .column_footer__list_high {
    margin: 0 0 30px;
  }
}

.column_footer__link {
  padding: 5px 0;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #889099;
}

.column_footer__link:hover {
  text-decoration: underline;
}

.row_footer__title {
  margin: 0 0 20px;
}

.row_footer__text {
  width: 100%;
  max-width: 599.5px;
  margin: 0 0 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #889099;
}

.row_footer__text_small {
  margin: 0 0 40px;
  font-size: 12px;
  line-height: 133%;
}

@media (max-width: 540px) {
  .row_footer__text_small {
    margin: 0 0 0;
  }
}

.row_footer__text_small p {
  margin: 0 0 17px;
}

.row_footer__text_small p:last-child {
  margin: 0 0 0;
}

.row_footer__social {
  margin: 0 0 0 -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 540px) {
  .row_footer__social {
    margin: 0 0 0 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.row_footer__social li {
  margin: 0 30px 0 0;
}

@media (max-width: 540px) {
  .row_footer__social li {
    margin: 0 0 14px;
    padding: 5px 0 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33%;
            flex: 0 1 33%;
  }
}

.row_footer__social li:last-child {
  margin: 0;
}

@media (max-width: 540px) {
  .row_footer__social li:last-child {
    margin: 0 0 14px;
  }
}

.row_footer__link {
  font-size: 29px;
  color: #323642;
}

.row_footer__link.fa-linkedin {
  font-size: 32px;
}

.row_footer__link.fa-reddit {
  font-size: 32px;
}

.row_footer__link.fa-youtube {
  font-size: 40px;
}

/* ======================= footer end =================== */
